body {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

.resp-vtabs li{background-color: red;}

ul.resp-tabs-list, p {
    margin: 0px;	
	
    padding: 0px;
}

.resp-tabs-list li {
    font-weight: 600;
    font-size: 13px;
    display: inline-block;
    padding: 13px 15px;
    margin: 0 4px 0 0;
    list-style: none;
	
    cursor: pointer;
    float: left;
	display:none;
}

.resp-tabs-container {
    padding: 0px;
    background-color: inherit;
    clear: left;
}

h2.resp-accordion {
    cursor: pointer;
    padding: 5px;
    display: none;
}

.resp-tab-content {
    display: none;
    padding: 15px 0px 15px 0px;
}

.resp-tab-active {
	background-color: #f5ece0;
	border: 1px solid #763122  !important;
	border-bottom: none;
	margin-bottom: -1px !important;
	padding: 12px 14px 14px 14px !important;
	border-top: 4px solid #763122  !important;
	border-bottom: 0px #fff solid !important;
}

.resp-tab-active {
    border-bottom: none;
    background-color: #f5ece0;
}

.resp-content-active, .resp-accordion-active {
    display: block;
	background-color: #f5ece0;
}

.resp-tab-content {
   /* border: 1px solid #c1c1c1;
	border-top-color: #5AB1D0;*/
}

h2.resp-accordion {
    font-size: 13px;
    border: 1px solid #c1c1c1;
    border-top: 0px solid #c1c1c1;
    margin: 0px;
    padding: 10px 15px;
}

h2.resp-tab-active {
    border-bottom: 0px solid #c1c1c1 !important;
    margin-bottom: 0px !important;
    padding: 10px 15px !important;
	
}

h2.resp-tab-title:last-child {
    border-bottom: 12px solid #c1c1c1 !important;
    background: blue;
}

/*-----------Vertical tabs-----------*/
.resp-vtabs ul.resp-tabs-list {
    float: left;
    width: 30%;
}

.resp-vtabs .resp-tabs-list li {
    display: block;
    padding: 10px 15px !important;
    margin: 0 0 15px;
    cursor: pointer;
    float: none;
	color: #1d1d1d;
	text-decoration: underline;
	font-size: 16px;
	font-weight: 500;
}

.resp-vtabs .resp-tabs-container {
    padding: 0px;
    background-color: #f5ece0;
    border: 1px solid #f5ece0;
    float: left;
    width: 68%;
	padding-left: 2%;
    min-height: 250px;
    border-radius: 4px;
    clear: none;
	margin-bottom: 2%;
	height:100%;
}

.resp-vtabs .resp-tab-content {
    border: none;
    word-wrap: break-word;
}

.resp-vtabs li.resp-tab-active { 
position: relative;
z-index: 1;

margin-right: -1px !important;
padding: 10px 15px 10px 14px !important;
border-top: 1px solid;
border: 1px solid #bb2c0c !important;
/*border-left: 4px solid #5AB1D0 !important;*/
margin-bottom: 15px !important;
border-right: 1px #f5ece0 solid !important;
color: #bb2c0c ;
}



.resp-arrow {
    width: 0;
    height: 0;
    float: right;
    margin-top: 3px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 12px solid #bb2c0c;
}

h2.resp-tab-active span.resp-arrow {
	background-color: #;
    border: none;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 12px solid #bb2c0c;
}

/*-----------Accordion styles-----------*/
h2.resp-tab-active {
    background: #DBDBDB;/* !important;*/
}

.resp-easy-accordion h2.resp-accordion {
    display: block;
}

.resp-easy-accordion .resp-tab-content {
    border: 1px solid #c1c1c1;
}

.resp-easy-accordion .resp-tab-content:last-child {
    border-bottom: 1px solid #c1c1c1;/* !important;*/
}

.resp-jfit {
    width: 100%;
    margin: 0px;
}

.resp-tab-content-active {
    display: block;
}

h2.resp-accordion:first-child {
    border-top: 1px solid #c1c1c1;/* !important;*/
}

/*Here your can change the breakpoint to set the accordion, when screen resolution changed*/
@media only screen and (max-width: 800px) {
	
    ul.resp-tabs-list {
        display: none;
    }

    h2.resp-accordion {
       /* display: block;*/
	       display: inline-block;
    width: 100%;
	color: #1d1d1d;
	font-weight: 500;
font-size: 14px;
    }
	

    .resp-vtabs .resp-tab-content {
        border-top: 1px solid #763122;
    }
	
	.resp-vtabs li.resp-tab-active{color: #763122;}
	
	.resp-vtabs .resp-tabs-list li {color: #ffffff;}

    .resp-vtabs .resp-tabs-container {
       background-color: #;
    border: 1px solid #f5ece0;
	padding-left: 0%;
        float: none;
        width: 100%;
        min-height: 100px;
        clear: none;
    }
/*.resp-vtabs .resp-tabs-container {
    padding: 0px;
    background-color: #f5ece0;
    border: 1px solid #f5ece0;
    float: left;
    width: 68%;
    padding-left: 2%;
    min-height: 250px;
    border-radius: 4px;
    clear: none;
    margin-bottom: 2%;
}*/
    .resp-accordion-closed {
        display: none !important;
    }

    .resp-vtabs .resp-tab-content:last-child {
        border-bottom: 1px solid #c1c1c1 !important;
    }
}
