@charset "utf-8";

/* CSS Document */
* {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: 'Roboto', sans-serif;
}

a {
	text-decoration: inherit;
}

#main_wrap {
	float: left;

	width: 100%;
}

header {
	float: left;
	width: 100%;

	position: absolute;
	z-index: 9999;
}

.top_head {
	float: left;
	width: 100%;
	background-color: #292929;
}

.logo {
	width: auto;
}

.call_wrap {
	float: left;
	clear: right;
	width: 150px;
	background: url(../images/call.png) no-repeat;
	margin: 0.5% 0% 0.5% 4%;
	color: #fff;
	background-position: left center;
}

.call_wrap1 {
	float: left;
	clear: right;
	width: auto;
	background: url(../images/mail.png) no-repeat;
	background-position: left center;
	margin: 0.5% 0% 0.5% 4%;
	color: #fff;
}

.call_wrap p {
	float: left;
	display: inline;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 500;
	color: #ffffff;
	margin: 0% 0% 0% 3%;
	width: 150px;
	padding-left: 15px;

}

.call_wrap1 p {
	float: left;
	display: inline;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color: #ffffff;
	margin: 0% 0% 0% 3%;
	/*width: 111px;*/
	padding-left: 10px;
}

.call_wrap1 p a {
	color: #ffffff;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 500;
}

/*.call_wrap p img{
	float:left;
	display:inline;
	font-family: 'Ubuntu Condensed', sans-serif;
	font-size:14px;
	font-weight:600;
	color:#ffffff;
	margin:0% 0% 0% 3%;}*/

.testimonial_wrap {
	float: left;
	width: 90%;
	margin: 1% 5% 2% 5%;
}

.testi_box1 {
	float: left;
	width: 23%;
	margin: 1% 1% 2% 1%;
}

.smo_wrap {
	float: right;
	clear: right;
	width: 30%;
	height: 18px;

	margin: 0.8% 4% 0.5% 0%;
}

.smo_wrap img {
	float: right;
	width: 16px;
	height: 16px;
	margin-left: 4%;
}

.main_head {
	float: left;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.9);

}

.main_head figure {
	float: left;
	width: 20%;
	margin: 0.4% 0% 0.4% 4%;
}

.main_head figure img {
	width: 100%;
}

figure {
	float: left;
	width: 12%;
	margin: 0.4% 0% 0.4% 4%;
}

.in_main_head figure {
	float: left;
	width: 20%;
	margin: 0.4% 0% 0.4% 4%;
}

.in_main_head figure img {
	width: 100%;
}

nav {
	float: right;
	/*width:50%;*/
	width: auto;
	margin: 1% 4% 0% 0%;
	/*margin:2% 4% 2% 0%;*/
}

.banner_wrap {
	float: left;
	width: 100%;
	/*height:680px;*/
	height: auto;

	position: relative;
	z-index: 0;
}

.banner_wrap img {
	width: 100%;
	height: 100%;
}

.main_content {
	float: left;
	width: 100%;
	background-color: #ffffff;
}

.con1 {
	float: left;
	width: 92%;
	background-color: #ffffff;
	margin: 2% 4% 0% 4%;
}

.con1 a {
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	color: #154a68;
	text-decoration: underline;
}

.heading {
	font-size: 20px;
	color: #000000;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
}

.sub_head {
	text-align: center;
	font-size: 20px;
	color: #000000;
	padding: 7px 0px;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
}

.sub_head2 {
	text-align: center;
	font-size: 17px;
	color: #515150;
	padding: 7px 0px;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
}

.text-bold {
	font-weight: 700;
}

.ser_heading1 {

	width: 100%;
	font-size: 16px;

	font-family: 'Roboto', sans-serif;
	text-align: left;
	color: #5c5c5b;
	padding: 10px 2% 1% 0%;
}

.home_txt {
	font-size: 16px;
	color: #515150;
	line-height: normal;
	padding: 5px 0px;
	font-family: 'Roboto', sans-serif;
}

.con2 {
	float: left;
	width: 92%;
	background-color: #ffffff;
	margin: 2% 4% 2% 4%;
}

.ser_icon {
	float: left;
	width: 100%;
	margin: 0% 0% 3% 0%;

}

.footer_wrap {
	float: left;
	width: 100%;
	background: url(../images/footer_bg.jpg) no-repeat;
	background-size: cover;
	/*height:350px;*/
	height: auto;
	padding: 0% 0% 2.5% 0%;
}

.footer_wrap1 {
	float: left;
	width: 92%;

	margin: 0.5% 4% 0% 4%;
}

.footer_box1 {
	float: left;
	width: 22%;

	margin: 1% 0% 1% 0%;
}

.footer_box1 p a,
.footer_box2 p a {
	float: left;
	width: 100%;

	line-height: 25px;
	color: #ffffff;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;

}


.footer_box2 {
	float: left;
	width: 22%;

	margin: 1% 0% 1% 4%;
}

/*.footer_box2 p a{
	float:left;
	width:100%;
	background-color:#;
	line-height: 25px;
	color:#ffffff;
	font-family: 'Roboto', sans-serif;
	font-size:12px;
	text-align:justify;
	
	}*/

.footer_box3 {
	float: left;
	width: 22%;

	margin: 1% 0% 1% 4%;
}


/*.footer_box3 p img{
	float: left;
width: auto;
margin: 2.6% 4% 1% 0%;
height: 25px;}*/

.footer_box3 p {
	float: left;
	width: 100%;

	line-height: 18px;
	padding: 1.5% 0%;
	color: #ffffff;
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
	text-align: justify;
}

.footer_box4 {
	float: left;
	width: 22%;

	margin: 1% 0% 1% 4%;
	padding-bottom: 1%;
}

.footer_box4 img {
	float: left;
	height: 28px;
	width: 28px;
	margin: 4% 4% 0% 1%;
}

.footer_heading {
	float: left;
	width: 100%;

	padding: 0% 0% 1.5% 0%;
	margin-bottom: 4%;
	color: #ffffff;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	text-align: left;
	border-bottom: 1px solid #ffffff;
	font-weight: 500;
}

footer {
	float: left;
	width: 100%;
	border-top: 1px #666666 dotted;
	margin: 0% 0% 0% 0%;
	padding: 0.2% 0% 0% 0%;
	background-color: #ffffff;
}

.footer_left {
	float: left;
	width: 40%;
	margin: 0% 0% 0% 7%;

}

.footer_left p {
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	color: #292929;
	padding: 0% 0% 0.5% 0%;
}

.footer_right {
	float: right;
	width: auto;
	margin: 0% 7% 0% 0%;

}

.footer_right p {
	float: left;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	color: #292929;
	padding: 0% 0% 0.5% 0%;
}

/*about us page start	*/
.in_main_head {
	float: left;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.9);
	position: relative;
	z-index: 1;

}

.in_main_wrap {
	float: left;
	width: 100%;
	height: auto;
	background: url(../images/aboutus_bg.jpg) no-repeat;
	background-size: cover;
	position: relative;
}

.in_main_wrap img {
	object-fit: contain;
}

.in_main_wrap #aboutus-logo {
	height: 70px;
	padding: 1% 2%;
	margin: 0 auto;
	display: block;
	object-fit: contain;
}

.breadcrumbs_wrap {
	float: left;
	width: 100%;
	background-color: rgba(77, 74, 70, 0.6);
}

.breadcrumbs_wrap p {
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
	color: #ffffff;
	padding: 0.3% 0% 0.3% 4%;
	font-weight: 600;
}

.in_con_main {
	float: left;
	/*width:80%;
	margin:1% 10% 0% 10%;*/
	width: 84%;
	margin: 1% 8% 0% 8%;

}

.in_abt_wrap {
	float: left;
	width: 100%;
	margin: 1% 0% 3% 0%;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,edd9b6+100 */
	background: rgba(255, 255, 255, 0.9);
	/* Old browsers */
	/* background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.92) 0%, rgba(237, 217, 182, 0.92) 100%); */
	/* FF3.6-15 */
	/* background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.92) 0%, rgba(237, 217, 182, 0.92) 100%); */
	/* Chrome10-25,Safari5.1-6 */
	/* background: linear-gradient(to bottom, rgba(255, 255, 255, 0.92) 0%, rgba(237, 217, 182, 0.92) 100%); */
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#edd9b6', GradientType=0);
	/* IE6-9 */
}

.in_heading {
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	color: #202020;
	padding: 1% 2% 0% 2%;
	text-align: justify;
	font-weight: 600;
}

.in_txt {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #1d1d1d;
	padding: 1.5% 2% 3% 2%;
	text-align: justify;
	font-weight: 400;
	line-height: normal;
}

.in_txt_sub {
	text-align: center;
	font-size: 17px;
	color: #1d1d1d;
	padding: 7px 0px;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
}

.in_txt1 {
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	color: #1d1d1d;
	padding: 1% 2% 1% 2%;
	text-align: justify;
	font-weight: 400;
	line-height: normal;
}

.abt_heading {
	font-family: 'Roboto', sans-serif;
	font-size: 17px;
	color: #4a4a49;
	padding: 1% 0% 0% 2%;
	text-align: justify;
	font-weight: 600;
}

/*projects page start*/

.in_con_pro_wrap {
	float: left;
	width: 100%;
	margin: 1% 0% 0% 0%;
	background: rgb(255, 255, 255);
	background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.7) 0%, rgba(228, 211, 180, 0.7) 100%);
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.7) 0%, rgba(228, 211, 180, 0.7) 100%);
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0.7) 0%, rgba(228, 211, 180, 0.7) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#edd9b6', GradientType=0);
}



.in_project_wrap {
	float: left;
	width: 100%;
	margin: 1% 0% 3% 0%;
	background-color: rgba(245, 237, 224, 0.82)
}


.in_proj_wrap {
	float: left;
	width: 100%;

	height: auto;
	background: url(../images/projects_bg.jpg) no-repeat;
	background-size: cover;
	position: relative;
}



.in_proj_wrap img {
	width: 100%;
	height: 100%;
}

.acc_wrap {
	float: left;
	width: 96%;
	margin: 0% 2% 2% 2%;
}

/*gallery page start*/
.in_gallery_wrap {
	float: left;
	width: 100%;
	height: auto;
	/*background:url(images/inner_img/gallery_bg.jpg) no-repeat;*/
	background: url(../images/gallery_bg1.jpg) no-repeat;
	background-size: cover;
	position: relative;
}

.in_gal_wrap {
	float: left;
	width: 100%;
	margin: 1% 0% 3% 0%;
}


.product_inner {
	width: 21%;
	height: auto;
	float: left;
	margin: 1.5% 4% 2% 0%;

	-moz-box-shadow: 2px 2px 8px -2px #000;
	-webkit-box-shadow: 2px 2px 8px -2px #000;
	box-shadow: 2px 2px 8px -2px #000;
}

.product_inner img {
	width: 100%;
	height: 160px;
	/*opacity:0.7;*/
}

.product_inner img:hover {
	width: 100%;
	height: 160px;
	/*opacity:1;*/
}

.product_inner {
	width: 21%;
	height: auto;
	float: left;
	margin: 1.5% 4% 2% 0%;

	-moz-box-shadow: 2px 2px 8px -2px #000;
	-webkit-box-shadow: 2px 2px 8px -2px #000;
	box-shadow: 2px 2px 8px -2px #000;
}

.product_inner img {
	width: 100%;
	height: 160px;

}

.product_inner img:hover {
	width: 100%;
	height: 160px;

}

.product_inner1 {
	width: 21%;
	height: auto;
	float: left;
	margin: 1.5% 2% 2% 2%;

	-moz-box-shadow: 2px 2px 8px -2px #000;
	-webkit-box-shadow: 2px 2px 8px -2px #000;
	box-shadow: 2px 2px 8px -2px #000;
}

.product_inner1 img {
	width: 100%;
	height: 160px;
	opacity: 0.7;
}

.product_inner1 img:hover {
	width: 100%;
	height: 160px;
	opacity: 1;
}


.product_inner2 {
	width: 100%;
	height: auto;
	float: left;
	margin: 1.5% 0% 2% 0%;

	-moz-box-shadow: 2px 2px 8px -2px #000;
	-webkit-box-shadow: 2px 2px 8px -2px #000;
	box-shadow: 2px 2px 8px -2px #000;
}

.product_inner2 img {
	width: 100%;
	height: 160px;
	opacity: 1;
}

.product_inner2 img:hover {
	width: 100%;
	height: 160px;
	opacity: 1;
}

.gal_col {
	float: left;
	width: 23%;
	margin: 0% 1%;

}

.gal_col_box1 {
	float: left;
	width: 99.8%;
	margin: 0% 0%;
	height: 280px;
	max-height: 100%;
	background-color: yellow;
	border: 1px solid #806015;
}

.gal_sm_box {
	float: left;
	width: 99.8%;
	margin: 0% 0% 20px 0%;
	height: 150px;
	max-height: 100%;
	background-color: yellow;
	border: 1px solid #806015;
}

.gal_md_box {
	float: left;
	width: 99.8%;
	margin: 0% 0% 20px 0%;
	height: 236px;
	max-height: 100%;
	background-color: yellow;
	border: 1px solid #806015;
}

.gal_lg_box {
	float: left;
	width: 99.8%;
	margin: 0% 0% 20px 0%;
	height: 322px;
	max-height: 100%;
	background-color: yellow;
	border: 1px solid #806015;
}

.gal_sm_box img,
.gal_md_box img,
.gal_lg_box img {
	width: 100%;
	height: 100%;
}

/*contact us page style*/
.in_contact1_wrap {
	float: left;
	width: 100%;
	margin: 1% 0% 3% 0%;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,edd9b6+100 */
	background: rgb(255, 255, 255);
	/* Old browsers */
	background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.9) 0%, rgba(237, 217, 182, 0.9) 100%);
	/* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.9) 0%, rgba(237, 217, 182, 0.9) 100%);
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0.9) 0%, rgba(237, 217, 182, 0.9) 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#edd9b6', GradientType=0);
	/* IE6-9 */
}

.in_contact_wrap {
	float: left;
	width: 100%;
	height: auto;
	background: url(../images/contactus_bg.jpg) no-repeat;
	background-size: cover;
	position: relative;
}

.con_left,
.con_right {
	float: left;
	width: 46%;
	margin: 1% 2%;
}

.con_left h2,
.con_right h2 {
	font-size: 20px;
	color: #000000;
}

.enq_box1 {
	float: left;
	width: 43.6%;
	margin: 2.5% 2% 0% 0%;
	/*background-color: rgba(255, 185,102, 1);*/
	border: 1px solid #CCC;
	color: #282727;
	font-weight: 600;
	padding: 0.5% 2% 0.5% 2%;
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
}

.enq_box11 {
	float: left;
	width: 43.6%;
	margin: 2.5% 0% 0% 2%;
	/*background-color: rgba(255, 185,102, 1);*/
	border: 1px solid #CCC;
	color: #282727;
	font-weight: 600;
	padding: 0.5% 2% 0.5% 2%;
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
}

.enq_box {
	width: 96%;
	border: none;
	margin: 3% 0% 0% 0%;
	/*background-color: rgba(255, 185,102, 1);*/
	background-color: #ffffff;
	border: 1px solid #CCC;
	color: #282727;
	font-weight: 600;
	padding: 0.5% 2% 0.5% 2%;
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
}



.enq_btn {
	width: auto;
	border: none;
	background-color: #6c5b56;
	font-size: 14px;
	text-align: center;
	color: #ffffff;
	margin: 3% 6% 2% 0%;
	padding: 0.8% 4% 0.8% 4%;
}

.con_txt {

	font-size: 14px;
	color: #1d1d1d;
	padding: 0.2% 0% 0% 0%;
	text-align: justify;
	font-weight: 400;
	line-height: 22px;
}

.con_txt1 {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #4a4a49;
	padding: 1% 0% 1% 0%;
	text-align: justify;
	font-weight: 600;
}

.con_txt1 img {
	width: 18px;
	height: 18px;
}

.map_wrap {
	float: left;
	width: 96%;

	margin: 1% 2%;
}

/*services page style*/
.in_ser_wrap1 {
	float: left;
	width: 100%;
	margin: 1% 0% 3% 0%;
	background-color: rgba(255, 255, 255, 0.9)
}

.in_service_wrap {
	float: left;
	width: 100%;
	height: auto;
	background: url(../images/services_bg.jpg) no-repeat;
	background-size: cover;
	position: relative;
}

.ser_box {
	float: left;
	width: 96%;
	/*background-color:rgba(247, 149, 34, 0.7);*/
}

/*.ser_fig{
	float: left;
width: 30%;
margin: 4% 35% 8% 35%;
}*/

.ser_fig {
	float: left;
	width: 20%;
	margin: 3% 2% 3% 2%;

}

.ser_fig img {
	width: 75%;
}

/*.ser_box div{
	float:right;
	width: 88%;
margin: 0.5% 2% 0.5% 0%;
color: #fff;
line-height: normal;}*/

.sub_heading {
	font-size: 18px;
	color: #000000;
	padding: 1% 2%;
	text-align: center;
}

/*.ser_box1{
	float:left;
	width: 22%;
	border: 1px solid #999;
	background-color: rgba(250, 250, 250, 0.8);
	margin: 1% 1.4%;}*/

.ser_box1 {
	float: left;
	width: 46%;
	border: 1px solid #999;
	background-color: rgba(250, 250, 250, 0.8);
	margin: 1% 1.9%;
}

.ser_heading {
	text-align: center;
	font-size: 14px;
	width: 100%;
	float: right;
	color: #5c5c5b;
	/*font-family: 'Montserrat', sans-serif;*/
	font-family: 'Roboto', sans-serif;
	padding: 10px 2% 1% 0%;

}

/*.ser_txt{ color: #353535;
		font-size:14px; 
		padding: 2% 4% 6% 4%;
		text-align: justify;
		line-height: normal;
		}*/

.ser_txt {
	color: #353535;
	font-size: 14px;
	padding: 2% 2% 2% 0%;
	text-align: justify;
	line-height: normal;
	width: 74%;
	float: right;
}


/*career page style*/
.in_career_wrap {
	float: left;
	width: 100%;
	height: 1002px;
	background: url(../images/career_bg1.jpg) no-repeat;
	background-size: cover;
	position: relative;
}

/*.in_car_wrap {
    float: left;
    width: 100%;
    margin: 1% 0% 3%;
    background: transparent linear-gradient(to bottom, rgba(255, 255, 255, 0.7) 0%, rgba(223, 223, 223, 0.7) 100%) repeat scroll 0% 0%;
}*/

.in_car_wrap {
	float: left;
	width: 100%;
	margin: 1% 0% 3%;
	background-color: rgba(255, 255, 255, 0.92);
}

.career_form_left {
	float: left;
	width: 46%;
	margin: 0% 2% 2% 2%;

}

.career_form_right {
	float: right;
	width: 46%;
	margin: 0% 2% 2% 2%;

}

.vac_box {
	float: left;
	width: 96%;
	/*background-color: rgba(255, 185,102, 1);*/
	border: 1px solid #CCC;
	box-shadow: none;
	padding: 0.8% 2% 0.8% 2%;
	margin: 0.5% 0% 2.6% 0%;
	color: #464545;
	font-weight: 600;
}

.vac_box1 {
	float: right;
	width: 96%;
	/*background-color: rgba(255, 185,102, 1);*/
	border: 1px solid #CCC;
	box-shadow: none;
	padding: 0.8% 2% 0.8% 2%;
	margin: 1% 0%;
	color: #464545;
	font-weight: 600;
}

.vac_btn {
	text-align: center;
	width: auto;
	border: none;
	background-color: #154a68;
	font-size: 16px;
	text-align: center;
	color: #282727;
	padding: 0.6% 4% 0.6% 4%;
	margin: 0% 0% 5% 0%;
	font-weight: 600;
}

.car_txt {
	font-size: 14px;
	color: #585858;
	font-weight: 600;
}

.in_test_wrap {
	float: left;
	width: 100%;
	height: auto;
	background: url(../images/test_bg.jpg) no-repeat;
	background-size: cover;
	position: relative;
}

.in_thanku_wrap {
	float: left;
	width: 100%;
	height: auto;
	background: url(../images/thanku.jpg) no-repeat;
	background-size: cover;
	position: relative;
}

.thanku_heading {
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	color: #202020;
	padding: 10% 0% 10% 0%;
	text-align: center;
}

.bullets {
	margin: 0% 0% 1% 0%;
}

.bullets li {
	list-style-image: url(../images/bullet.png);
	list-style-position: inside;
	padding: 0.8% 0% 0% 4%;
	line-height: 20px;
	font-size: 15px;
	color: #1D1D1D;
}

.ch-grid li {
	float: left;
	/*width: 135px;
    height: 135px;*/
	width: 95px;
	/* height: 95px; */
	display: inline-block;
	/* margin-bottom: 50px; */
}

@media only screen and (max-width: 1366px) {

	.ch-grid li {
		float: left;
		/*width: 135px;
    height: 135px;*/
		width: 85px;
		/* height: 85px; */
		display: inline-block;
		/* margin-bottom: 50px; */
	}

}

/*@media only screen 
  and (min-device-width: 1280px){*/
@media only screen and (max-width: 1280px) {
	.ch-grid li {
		float: left;
		/*width: 130px;
    height: 130px;*/
		width: 110px;
		/* height: 110px; */
		display: inline-block;
		/* margin-bottom: 50px; */
	}

}

/* @media only screen 
  and (min-device-width: 1024px) {*/
@media only screen and (max-width: 1024px) {
	.ch-grid li {
		float: left;
		width: 87px;
		/* height: 87px; */
		display: inline-block;
		/* margin-bottom: 15px; */
	}

	.ser_icon {
		float: left;
		width: 100%;
		margin: 2% 0% 6% 0%;
	}

	.ser_box1 {
		float: left;
		width: 46%;
		border: 1px solid #999;
		background-color: rgba(250, 250, 250, 0.8);
		margin: 1% 1.8%;
	}

	.ser_heading {
		text-align: center;
		font-size: 14px;
		width: 100%;
		float: right;
		color: #5c5c5b;
		padding: 10px 2% 1% 0%;
	}
}

/*@media only screen 
  and (min-device-width: 980px){*/
@media only screen and (max-width: 980px) {

	vac_box {
		float: left;
		width: 96%;
		background-color: rgba(182, 153, 100, 0.9);
		border: none;
		box-shadow: none;
		padding: 0.8% 2% 0.8% 2%;
		margin: 1.4% 0%;
		color: rgba(255, 255, 255, 1);
		font-weight: 600;
		font-size: 13px;
	}

	figure {
		float: left;
		width: 275px;
		margin: 1.2% 0% 0.2% 4%;
		margin: 0.4% 0% 0.4% 4%;
	}

	.ch-grid li {
		float: left;
		width: 85px;
		/* height: 85px; */
		display: inline-block;
		/* margin-bottom: 50px; */
	}



}

@media only screen and (max-width: 800px) {
	figure {
		float: left;
		width: 275px;
		margin: 1.2% 0% 0.2% 4%;
		margin: 0.4% 0% 0.4% 4%;
	}

	nav {
		float: right;
		width: 40%;
		margin: 1% 4% 0% 0%;
		border: 1px solid rgba(120, 120, 120, 0.5);
	}

	/*.ch-grid li {
    float: left;
    width: 80px;
	height: 80px;
    display: inline-block;
    margin-bottom: 50px;
}*/

	.ch-grid li {
		float: left;
		width: 100px;
		/* height: 100px; */
		display: inline-block;
		/* margin-bottom: 50px; */
		margin: 0% 5% 10% 5%;
	}

	.main_head figure {
		float: left;
		width: 20%;
		margin: 1.2% 0% 1% 4%;
	}

	.heading {
		font-size: 17px;
		color: #000;

		font-weight: 500;
	}

	.ser_heading {
		width: 100%;
		font-size: 13.5px;
		color: #000;
		text-align: center;
		padding: 10% 0% 3% 0%;
	}

	.home_txt {
		font-size: 14px;
		color: #000;
	}

	/* 800px about page style*/
	.breadcrumbs_wrap p {

		font-size: 12px;
		color: #FFF;
		padding: 0.5% 0% 0.5% 4%;
		font-weight: 600;
	}

	.in_heading {

		font-size: 18px;
		color: #202020;
		padding: 1% 2% 0%;
		text-align: justify;
	}

	.in_txt {

		font-size: 15px;
		color: #1D1D1D;
		padding: 3% 2%;
		text-align: justify;
		font-weight: 400;
	}

	.con_txt {
		font-size: 13px;
	}

	.con_left h2,
	.con_right h2 {
		font-size: 17px;
		color: #000;
	}

	.ser_box1 {
		float: left;
		width: 46%;
		border: 1px solid #999;
		background-color: rgba(250, 250, 250, 0.8);
		margin: 1% 1.8%;
	}

	.ser_fig {
		float: left;
		width: 20%;
		margin: 8% 40% 8% 40%;

	}

	.ser_txt {
		color: #353535;
		font-size: 12px;
		padding: 2% 4% 2% 4%;
		text-align: justify;
		line-height: normal;
		width: 92%;
		float: right;
	}

	.ser_heading1 {
		text-align: center;
	}

	.in_txt1 {
		font-family: 'Roboto', sans-serif;
		font-size: 14px;
		color: #1d1d1d;
		padding: 1% 2% 1% 2%;
		text-align: justify;
		font-weight: 400;
		line-height: normal;
	}

	.bullets {
		margin: 0% 0% 1% 0%;
	}

	.bullets li {
		list-style-image: url(../images/bullet.png);
		list-style-position: inside;
		padding: 0.8% 0% 0% 4%;
		line-height: 20px;
		font-size: 14px;
		color: #1D1D1D;
	}

}

/*@media only screen 
  and (min-device-width: 768px) 
 {*/
@media only screen and (max-width: 768px) {
	.ch-grid li {
		float: left;
		width: 100px;
		/* height: 100px; */
		display: inline-block;
	}

	.ser_icon {
		float: left;
		width: 100%;
		/* margin-bottom: 40px; */
		text-align: inherit;
	}

	.logo {
		width: 85%;
	}
}

@media only screen and (min-width: 481px) and (max-width: 767px) {
	.ch-grid span img {
		display: none;
	}

	.ch-grid li {
		float: left;
		width: 100px;
		/* height: 100px; */
		display: inline-block;
		margin: 4% 1.5%;
	}

	/*.ch-grid li {
    float: left;
    height: 170px;
    margin: 0% 2% 3.5%;
    border: 1px solid #C99A63;
    width: 28.8%;
}*/

	.ch-grid li {
		float: left;
		/* height: 120px; */
		margin: 3% 2% 3.5% 2%;
		width: 18%;
	}
}

@media only screen and (min-width: 320px) and (max-width: 480px) {

	.call_wrap {
		display: none;
	}

	.call_wrap1 {
		display: none;
	}

	.smo_wrap {
		clear: both;
		width: 100%;
		margin: 1% 0% 1% 0%;
	}

	.smo_wrap img {
		width: 16px;
		height: 16px;
		margin-left: 12%;
		float: left;
	}

	.main_head figure {
		float: left;
		width: 30%;
		margin: 1.2% 0% 0.4% 4%;
	}

	nav {
		float: right;
		width: 40%;
		margin: 1.7% 4% 0% 0%;
		border: 1px solid #ccc;
	}

	.ch-grid li {
		float: left;
		width: 110px;
		/* height: 110px; */
		max-width: 13%;
		max-height: 13%;
		display: inline-block;
		margin: 1% 1% 20% 30%;
		clear: both;
	}

	.ch-grid span {
		float: left;
		margin: 1% 2.3% 1% 2.3%;
		margin: 1% 1.5% 1% 1.6%;
		display: none;
	}

	.heading {
		font-size: 15px;
		color: #000;
		font-weight: 500;
		margin-bottom: 10px;
	}

	.footer_box1 {
		float: left;
		width: 100%;

		margin: 1% 0% 1% 0%;
	}

	.footer_wrap {
		float: left;
		width: 100%;
		background: url(../images/footer_bg.jpg) no-repeat;
		background-size: cover;
		height: auto;
		margin: 0% 0% 0% 0%;
	}

	.footer_box2 {
		float: left;
		width: 98%;

		margin: 1% 0% 1% 1%;
	}

	.footer_box3 {
		float: left;
		width: 96%;

		margin: 1% 0% 1% 2%;
	}

	.footer_box4 {
		float: left;
		width: 96%;

		margin: 1% 0% 1% 2%;
		padding-bottom: 1%;
	}

	.footer_left {
		float: left;
		width: 81%;
		margin: 0% 0% 0% 12%;

	}

	.footer_right {
		float: right;
		width: auto;
		margin: 0% 25% 0% 0%;

	}

	.home_txt {
		font-size: 13.5px;
		color: #000000;

		margin-bottom: 20px;
	}

	.ch-grid li {
		float: left;
		width: 150px;
		/* height: 130px; */
		max-width: 30%;
		display: inline-block;
		margin: 1% 1% 20% 30%;
		clear: both;
		max-height: 30%;
	}

	.ser_heading {
		width: 100%;
		font-size: 14px;
		color: #000;

		text-align: center;
		padding: 10% 0% 3% 0%;
	}

	/*about page style*/
	.in_heading {

		font-size: 15px;
		color: #202020;
		padding: 1% 2% 0%;
		text-align: justify;
	}

	.in_main_head figure {
		float: left;
		width: 30%;
		margin: 1.2% 0% 0.4% 4%;
	}

	.in_txt {

		font-size: 15.5px;
		color: #1D1D1D;
		padding: 3% 2%;
		text-align: justify;
		font-weight: 400;
	}

	.form_txt {
		font-size: 12px;
	}

	.breadcrumbs_wrap p {
		font-size: 11px;
	}

	/*airport page style*/
	.product_inner {
		width: 80%;
		height: auto;
		float: left;
		margin: 5% 10% 4% 10%;
		box-shadow: 2px 2px 8px -2px #000;
	}

	/*contact us page style*/
	.con_left,
	.con_right {
		float: left;
		width: 90%;
		margin: 2% 5%;
	}

	.con_txt1 {

		font-size: 14px;
		color: #4A4A49;
		padding: 1% 0% 0%;
		text-align: justify;
		font-weight: 500;
	}

	.ser_heading1 {
		width: 100%;
		font-size: 14px;
		font-family: 'Roboto', sans-serif;
		text-align: center;
		color: #5c5c5b;
	}

	/*gallery page style*/
	.product_inner1 {
		width: 80%;
		height: auto;
		float: left;
		margin: 5% 10% 4% 10%;
		box-shadow: 2px 2px 8px -2px #000;
	}

	.abt_heading {

		font-size: 15px;
		color: #4A4A49;
		padding: 1% 0% 0% 2%;
		text-align: justify;
		font-weight: 600;
	}

	.in_txt1 {

		font-size: 13px;
		color: #1D1D1D;
		padding: 1% 2%;
		text-align: justify;
		font-weight: 400;
	}

	.in_proj_wrap {
		float: left;
		width: 100%;
		height: 2743px;
		background: transparent url("../images/projects_bg.jpg") no-repeat scroll 0% 0% / cover;
		position: relative;
	}

	.ser_fig {
		float: left;
		margin: 2% 40% 2% 40%;
		width: 20%;
	}

	.ser_fig img {
		width: 100%;
	}

	.ser_box {
		float: left;
		width: 96%;
		margin: 0% 2%;
	}

	.ser_box1 {
		float: left;
		width: 100%;
		border: 1px solid #999;
		background-color: rgba(250, 250, 250, 0.8);
		margin: 4% 0% 2% 0%;
		padding: 0px;
	}

	.ser_fig {
		float: left;
		margin: 2% 42.5% 2% 42.5%;
		width: 15%;
	}

	.ser_txt {
		color: #353535;
		font-size: 12px;
		padding: 0% 4% 2% 4%;
		text-align: justify;
		line-height: normal;
	}

	.in_proj_wrap {
		float: left;
		width: 100%;

		height: auto;
		background: url(../images/projects_bg.jpg) no-repeat;
		background-size: cover;
		position: relative;
	}

	/*career page 480 style*/
	.career_form_left {
		float: left;
		width: 94%;
		margin: 4% 3% 2% 3%;
	}

	.career_form_right {
		float: left;
		width: 94%;
		margin: 0% 3% 2% 3%;

	}

	.vac_box {
		float: left;
		width: 96%;
		/*background-color: rgba(182, 153, 100, 0.9);*/
		border: 1px solid #cccccc;
		;
		box-shadow: none;
		padding: 0.8% 2% 0.8% 2%;
		margin: 0.5% 0% 5% 0%;
		color: rgba(255, 255, 255, 1);
		font-weight: 600;
		font-size: 12px;
	}

	.car_txt {
		font-size: 13px;
		color: #585858;
		font-weight: 600;
	}

	.enq_box1 {
		float: left;
		width: 96%;
		margin: 2.5% 2% 0% 0%;

		border: 1px solid #CCC;
		color: #282727;
		font-weight: 600;
		padding: 0.5% 2% 0.5% 2%;
		font-family: 'Roboto', sans-serif;
		font-size: 12px;
	}

	.enq_box11 {
		float: left;
		width: 96%;
		margin: 2.5% 2% 0% 0%;

		border: 1px solid #CCC;
		color: #282727;
		font-weight: 600;
		padding: 0.5% 2% 0.5% 2%;
		font-family: 'Roboto', sans-serif;
		font-size: 12px;
	}

	.bullets {
		margin: 0% 0% 2% 0%;
	}

	.bullets li {
		list-style-image: url(../images/bullet.png);
		list-style-position: inside;
		padding: 0.8% 0% 0% 4%;
		line-height: 20px;
		font-size: 13px;
		color: #1D1D1D;
	}

	.gal_col {
		float: left;
		width: 75%;
		margin: 0% 13.5%;

	}

	.gal_lg_box,
	.gal_md_box,
	.gal_sm_box {
		float: left;
		width: 99.8%;
		margin: 0% 0% 20px 0%;
		height: 200px;
		max-height: 100%;
		background-color: yellow;
		border: 1px solid #806015;
	}
}